<%include partials/header%>
<div class="container">

    <h3>Available Meals at BigBen</h3>
    <%var i = 0%>
    <% myFood[0].forEach(function(entry){%>
    <% if(i<3){ %>
    <%var price = " "%>
    <%if(entry.price!=null){%>
    <%    price = "₵ "+entry.price; %>
    <% } %>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-6 col-sm-6"><%= entry.mealName; %></div>
                <div class="col-lg-4 col-sm-4"><small id="timeTheme"><%= entry.time; %></small></div>
                <div class="col-lg-2 col-sm-2"><span class="badge badge-primary badge-pill"><%= price%></span></div>
            </div>
        </li>
    </ul>
    <%i = i + 1 %>


    <% }else{ %>
    <div class="collapse" id="collapseExample1">
        <%var price = " "%>
        <%if(entry.price!=null){%>
        <%    price = "₵ "+entry.price; %>
        <% } %>

        <!--<ul class="list-group list-group-flush">-->
        <li class="list-group-item noborder">
            <div class="row">
                <div class="col-lg-6 col-sm-6"><%= entry.mealName; %></div>
                <div class="col-lg-4 col-sm-4"><small id="timeTheme"><%= entry.time; %></small></div>
                <div class="col-lg-2 col-sm-2"><span class="badge badge-primary badge-pill"><%= price%></span></div>
            </div>
        </li>
        </ul>
    </div>
    <% }%>

    <% }); %>
    <%if(myFood[0].length>3){%>
    <a href="#collapseExample1" class="btn btn-primary push bottom" data-toggle="collapse" role="button"
        aria-expanded="false" aria-controls="collapseExample">
        Load more items...
    </a>
    <%}else{%>
    <br>
    <br>
    <%}%>


    <!-- //////// -->


    <h3>Available Drinks at BigBen</h3>
    <%var items = 0%>
    <% myFood[1].forEach(function(entry){%>

    <%if(items<3){%>
    <%var price = " "%>
    <%if(entry.price!=null){%>
    <%    price = "₵ "+entry.price; %>
    <% } %>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-6 col-sm-6"><%= entry.mealName; %></div>
                <div class="col-lg-4 col-sm-4"><small id="timeTheme"><%= entry.time; %></small></div>
                <div class="col-lg-2 col-sm-2"><span class="badge badge-primary badge-pill"><%= price%></span></div>
            </div>
        </li>
    </ul>
    <%items = items+1%>

    <% }else{ %>
    <div class="collapse" id="collapseExample">
        <%var price = " "%>
        <%if(entry.price!=null){%>
        <%    price = "₵ "+entry.price; %>
        <% } %>

        <!--<ul class="list-group list-group-flush">-->
        <li class="list-group-item noborder">
            <div class="row">
                <div class="col-lg-6 col-sm-6"><%= entry.mealName; %></div>
                <div class="col-lg-4 col-sm-4"><small id="timeTheme"><%= entry.time; %></small></div>
                <div class="col-lg-2 col-sm-2"><span class="badge badge-primary badge-pill"><%= price%></span></div>
            </div>
        </li>
        </ul>
    </div>
    <% }%>

    <% }); %>
    <%if(myFood[1].length>3){%>

    <a href="#collapseExample" class="btn btn-primary push bottom" data-toggle="collapse" role="button"
        aria-expanded="false" aria-controls="collapseExample">
        Load more items...
    </a>
</div>
<%}else{%>
<br>
<br>
<%}%>



<%include partials/footer%>
